@import './constants';

.header {
  position: fixed;
  top: 0;
  z-index: 1;
  background: $primary-color;
  color: #fff;
  padding: $spacing-unit $spacing-unit * 2;
  width: 100%;
  min-height: $header-height-small;
  display: flex;
  align-items: center;
  a {
    color: #fff;
    text-decoration: none;
  }

  @media screen and (min-width: $media-tablet) {
    min-height: $header-height;
  }
}
