@import './constants';

.page-container {
  &-content {
    padding-top: $header-height-small;

    @media screen and (min-width: $media-tablet) {
      padding-top: $header-height;
    }
  }
}

.icon {
  margin: 0 $spacing-unit;
  &--big {
    max-width: 150px;
    margin: 0 auto;
  }
}
