@import './constants';

.table-of-content {
  padding: 3 * $spacing-unit 0;
  background: $grey-200;

  &--fixed {
    position: relative;

    @media screen and (min-width: $media-tablet) {
      position: fixed;
      right: 0;
      height: 100%;
      top: $header-height;
    }
  }

  &-container {
    max-width: 300px;
    margin: 0px auto;
  }
  ol {
    margin: 0;
  }
  li {
    list-style-type: none;
    padding: 0 $spacing-unit;
    margin-bottom: 0;
    a {
      display: block;
      padding: $spacing-unit / 2 $spacing-unit * 2;
      &:hover {
        color: $primary-color-dark;
      }
    }
  }

  .toc-link {
    color: #000;
    text-decoration: none;
    position: relative;
    transition: color 300ms ease-in-out;
  }

  .toc-link.toc-link--active {
    color: $primary-color-dark;
  }

  .toc-link::before {
    content: ' ';
    display: block;
    background: $primary-color-dark;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0px;
    width: 0;
    transition: width 300ms ease-in-out;
  }

  .toc-link.toc-link--active::before {
    width: $spacing-unit / 2;
  }
}
